.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 25px;
}

.grid-item {
  position: relative;
  overflow: visible;
  transition: all .2s ease-in-out;
}
 
.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
  border-radius: 35px;
}

.grid-item:hover {
  transform: scale(1.1);
  z-index: 2;
}

/* In Gallery.css */
.gallery-container {
  height: auto;
  overflow: visible;
}

@media (max-width: 1280px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 1280px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}